body{
    margin: 0;
    background-color: black;
    color: white;
}





#navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    border-top-width: 4px;
}

#navbar-title{
    text-decoration: none;
}
#navbar-title:hover{
    text-decoration: underline;
}





.wrapper{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    font-size: var(--navbar-font-size);
    min-height: calc(100vh - var(--navbar-full-height));
}





#repeat-text-position{
    text-align: center;
}

.repeat-text{
    font-family: 'Segoe UI';
    font-weight: bold;
    align-self: center;
    justify-self: center;
    font-size: min(6em, 8vw);
    color: var(--primary-color-vibrant);
    letter-spacing: 0.1em;
}
.repeat-text :nth-child(1) {
    opacity: 0.4;
}
.repeat-text :nth-child(2) {
    opacity: 1;
}
.repeat-text :nth-child(3) {
    opacity: 0.4;
}
.repeat-text :nth-child(4) {
    opacity: 0.2;
}
.repeat-text :nth-child(5) {
    opacity: 0.1;
}

#description{
    font-size: 1.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: 'Segoe UI', sans-serif;
}






#albums{
    position: relative;
}

.album-wrapper{
    background-color: black;
    width: 100%;
    height: var(--viewport-minus-navbar);
    position: sticky;
    top: var(--navbar-full-height);
    margin-bottom: 20%;
    overflow-x: hidden;
}
.album-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.album-section{
    max-height: 90%;
    max-width: 50%;
    height: 100vh;
    width: 100vw;
}

.album-cover-container{
    border: 1px solid black;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.album-cover{
    max-height: 100%;
    max-width: 100%;
}
.album-cover:not(.album-cover.first){
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}

.album-info{
    background-color: rgba(255, 0, 0, 0);
    max-height: min(90%, 50vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    overflow: hidden;
    aspect-ratio: 1;
    text-align: center;
    white-space: balance;
    font-size: min(5vw, 8vh);
    padding-left: 10px;
}

.album-name{
    font-weight: bold;
}
.artist-name{
    margin-top: 0.5em;
    font-size: 0.8em;
}

.album-fading-edge{
    width: 100%;
    height: 50vh;
    background: linear-gradient(transparent, black);
    position: sticky;
    top: -100vh;
    transform: translate(0, 1%);/*prevents small gap between albums and fading edge*/
}

@media (orientation: portrait) {
    .album-container{
        flex-direction: column;
        justify-content: center;
    }

    .album-section{
        max-height: 45%;
        max-width: 90%;
    }
    .album-container{
        justify-content: center;
    }
    .album-info{
        justify-content: flex-start;
        font-size: 3em;
        padding-left: 0;
        padding-top: 1em;
        height: fit-content;
        aspect-ratio: unset;
    }
    
}