html{
    height: 100%;
}
body{
    margin: 0;
}

main{
    position: sticky;
    font-size: clamp(0.8rem, 2vw, 1rem);
}
h2{
    margin: 0;
    padding: 1em 3em 0.5em 1em;
    font-size: var(--h2-font-size);
    font-family:'Segoe UI', sans-serif;
    font-style: italic;
    width: fit-content;
}
p{
    font-family:'Segoe UI', sans-serif;
}

#space-background{
    background-image: url(space-background-image.jpg);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}





#page-header{
    background-color: rgba(0, 0, 0, max(0.4, calc(-1 * ((var(--header-visibilty-percent) - 100) / 100))));
    font-size: min(60px,7vw);
    overflow: hidden;
    position: sticky;
    top:0;
    opacity: calc(1 - var(--header-invisible));
}
#main-header-content{
    height: 6em;
    font-size: min(60px, 7vw);
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-title{
    color: rgba(255, 255, 255, max(calc(var(--header-visibilty-percent)/100), 0.5));
    font-size: max(calc(1em*((var(--header-visibilty-percent))/100)),0.85em);
    text-shadow: rgba(0, 0, 0) 0.04em 0.04em;
    padding: 0.3em 0;
    margin: 0;
    transition: all 0.3s;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
}
#title-underline{
    width: 100%;
    border-top: 2px solid;
    border-image: linear-gradient(0.25turn, transparent,rgba(255, 255, 255, 0.8), transparent)1;
    opacity: var(--header-fully-visible);
    transition: opacity 1s;
    z-index: 1;
}

#header-decoration > .top{
    position:absolute;
    top:0;
}
#header-decoration > .bottom{
    position:absolute;
    bottom:0;
}
#header-decoration > .right{
    position:absolute;
    right: 0;
}

#header-decoration > .primary-color-vibrant:hover{
    background-color: var(--accent-color);
}
#header-decoration > .accent-color:hover{
    background-color: var(--primary-color-vibrant);
}

#header-decoration > .fading-opacity{
    opacity: max(calc(var(--header-visibilty-percent)/100), 0.5);
}

#header-decoration * {
    transition: background-color 1s;
}

#top-left-circle{
    aspect-ratio: 1;
    width: calc(6em*((var(--header-visibilty-percent))/100));
    min-width: 4em;
    background-color: var(--primary-color-vibrant);
    clip-path: circle(50% at 0 0 );
}
#bottom-right-circle{
    aspect-ratio: 1;
    width: calc(6em*((var(--header-visibilty-percent))/100));
    min-width: 4em;
    background-color: var(--primary-color-vibrant);
    clip-path: circle(50% at 100% 100%);
}
#top-mid-right-circle{
    position: absolute;
    left: 75%;
    transform: translate(-50%);
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 25%);
    width: calc(3em*((var(--header-visibilty-percent))/100));
    min-width: 2em;
    background-color: var(--primary-color-vibrant);
}
#bottom-mid-left-circle{
    position: absolute;
    left: 15%;
    aspect-ratio: 1;
    transform: translate(-50%, -10%);
    clip-path: circle();
    width: calc(2em*((var(--header-visibilty-percent))/100));
    min-width: 1.5em;
    background-color: var(--accent-color);
}





#navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    border-top: calc(0.3em * var(--header-invisible)) solid var(--primary-color-vibrant);
    transition: border 0.2s;
}

#navbar-title{
    padding-right: calc(1em * var(--header-invisible));
    transition: all 0.75s;
    width: calc(10em * var(--header-invisible));
}

#navbar > a > .fa-github{
    font-size: calc(var(--navbar-height)/1.5);
    transform: translate(-35%);
}





#opening-content{
    max-width: 70%;
    
}

#opening-content h2{
    border-bottom: 3px solid;
    border-image: linear-gradient(0.25turn, var(--primary-color), transparent)1;
}

#opening-content .left-text-container{
    padding: 1em var(--h2-font-size);
    margin-top: calc(var(--h2-font-size)/2);
    background-color: white;
    border-top-right-radius: var(--h2-font-size);
    border-bottom-right-radius: var(--h2-font-size);
    box-shadow: 0px 5px 15px rgb(51, 51, 51);
    width: fit-content;
}

#opening-content p{
    margin-top: 0;
    font-size: 1.1em;
    
}
#opening-content p:last-child{
    margin-bottom: 0;
}

#opening-content .tag-line{
    font-style: italic;
    text-align: center;
}

#opening-content .in-padding{
    position: absolute;
    font-family: monospace;
    transform: translate(-1em);
}

#opening-content code{
    color: rgb(131, 131, 131);
    font-size: 0.8em;
}





#languages{
    padding-bottom: 50px;
}

#languages > h3 {
    font-size: min(3em, 7vw);
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 0.25em;
}
#languages > h3 .white {
    font-size: 1.5em;
}

#languages .content {
    position: relative;
    overflow: hidden;
    padding: 2em 0;
    display: flex;
    background: linear-gradient(to right, transparent, var(--primary-color));
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#languages .card{
    width: calc(2.5 * var(--language-logo-width));
    margin: 1em;
    background-color: white;
    transition: box-shadow 0.5s, scale 0.5s;
    scale: 1;
    box-shadow: 2px 2px 5px rgb(109, 109, 109);
}
#languages .card:hover{
    box-shadow: 5px 5px 10px rgb(109, 109, 109);
    scale: 1.01;
}
#languages .card-title{
    font-family: monospace;
    font-size: 1.2em;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--primary-color-vibrant);
}

#languages .logo{
    margin-left: 0.5em;
    width: var(--language-logo-width);
    border-radius: 10px;
    float: right;
}
#languages .tall-logo{
    margin-left: 0.5em;
    height: var(--language-logo-width);
    border-radius: 10px;
    float: right;
}

#languages-corner-rabbit {
    position: absolute;
    bottom: 0;
    right: 1em;
    transition: all 0.5s;
}
#languages-corner-rabbit:hover{
    transform: translate(0, 60%);
}





#projects {
    color: white;
    display: flex;
    flex-direction: column;
}

#projects h3 {
    font-family: 'Segoe UI', sans-serif;
    font-size: min(4em, 7vw);
    color: white;
    margin: 0 0 1em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    letter-spacing: 0.25em;
    border-top: 0.2em ridge rgba(255, 255, 255, 0.1);
    border-bottom: 0.2em ridge rgba(255, 255, 255, 0.1);
}

#projects .card{
    position: relative;
    align-self: center;
    margin: 2em 2em 8em 2em;
    padding-bottom: 2.5em;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0.5em inset rgba(var(--primary-color-vibrant-raw), 0.4);
}

#projects h4{
    font-size: min(2.5em, 5vw);
    font-family: 'Segoe UI', sans-serif;
    padding-bottom: 0.2em;
    margin: 0 0 0.2em;
    border-bottom: 1px solid;
    border-image: linear-gradient(0.25turn, transparent,var(--primary-color-vibrant), transparent)1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-page-link {
    background-color: rgb(0, 0, 0);
    border: 3px outset var(--accent-color);
    border-radius: 5em;
    color: white;
    text-shadow: 0 0 5px var(--accent-color);
    width: fit-content;
    font-size: 1em;
    padding: 1em 2em;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
    font-family:sans-serif;
    position: absolute;
    bottom: 0;
    transform: translate(0, 55%);
    scale: 1;
    transition: scale, box-shadow, 500ms;
}
.project-page-link:hover{
    scale:1.05;
    box-shadow: 0 0 0.5em var(--accent-color);
}

.project-icon{
    height: 1.5em;
}

#projects-conclusion{
    margin-top: 0;
    padding: 2em;
    font-size: 1,.2em;
    text-align: center;
    color: white;
    font-weight: bold;
}





.front-content-container{
    background-color: var(--base-color);
}

.card{
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.white{
    color:white;
}

.bg-primary{
    background-color: var(--primary-color);
}

p.centered{
    text-align: center;
}

.glow-shadow{
    text-shadow: 0.1px 1px 0px var(--accent-color), 0 0 10px var(--primary-color-vibrant);
}

.spaced-letters{
    letter-spacing: 0.25em;
}

.white-underline{
    border-bottom: 3px solid;
    border-image: linear-gradient(0.25turn, rgba(255, 255, 255, 0.15), white)1;
}
.golden-underline{
    border-bottom: 1px solid;
    border-image: linear-gradient(0.25turn, transparent, var(--accent-color))1;
}

.crossed-out{
    text-decoration: line-through;
    text-decoration-color: rgb(109, 109, 109);
}



@media only screen and (max-width: 1000px) {
    #navbar > :not(.important) {
        display: none;
    }
}



:root{
    --header-visibilty-percent:100;
    --header-fully-visible: 1;
    --header-invisible: 0;

    --h2-font-size: min(3em,6vw);

    --language-logo-width: min(150px, 15vw);

}





.under-construction{
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.under-construction img{
    width: fit-content;
    height: fit-content;
}
.under-construction p {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}