.border-bottom{
    border-bottom: 1px solid black;
    padding-bottom: .1em;
    margin-bottom: 5px;
}
.text-center{
    text-align: center;
}
.text-balance{
    text-wrap: balance;
}
.fit-content{
    width: fit-content;
    height: fit-content;
}

.flexbox-vertical{
    display: flex;
    flex-direction: column;
}

.flexbox-horizontal{
    display: flex;
    flex-direction: row;
}

.flexbox-cluttered{
    display: flex;
    flex-wrap: wrap;
}


.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-column-fit{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.div-page-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-center-horizontal{
    display: flex;
    align-items: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-baseline{
    display: flex;
    align-items: baseline;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.undecorated-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.flex-grow-1{
    display: flex;
    flex-grow: 1;
}
.fixed{
    position: fixed;
}

.hidden{
    display: none;
}

.monospace{
    font-family: monospace;
}
