.border-bottom{
    border-bottom: 1px solid black;
    padding-bottom: .1em;
    margin-bottom: 5px;
}
.text-center{
    text-align: center;
}
.text-balance{
    text-wrap: balance;
}
.fit-content{
    width: fit-content;
    height: fit-content;
}

.flexbox-vertical{
    display: flex;
    flex-direction: column;
}

.flexbox-horizontal{
    display: flex;
    flex-direction: row;
}

.flexbox-cluttered{
    display: flex;
    flex-wrap: wrap;
}


.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-column-fit{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.div-page-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-center-horizontal{
    display: flex;
    align-items: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-baseline{
    display: flex;
    align-items: baseline;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.undecorated-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.flex-grow-1{
    display: flex;
    flex-grow: 1;
}
.fixed{
    position: fixed;
}

.hidden{
    display: none;
}

.monospace{
    font-family: monospace;
}

.white-border{
    border: 2px solid white;
}

.rounded-corners{
    border-radius: 1em;
}

.txt-right{
    text-align: right;
}



#navbar{
    font-size: var(--navbar-font-size);
    padding: 0 1em;
    height: var(--navbar-height);
    overflow: hidden;
    display: flex;
    background-color: var(--primary-color);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    border-top: var(--navbar-top-border-height) solid var(--primary-color-vibrant);
}
#navbar-title{
    color: rgb(255, 255, 255);
    font-weight: bold;
    overflow: hidden;
    font-size: 1.25em;
}

#navbar > a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar > a:not(a#navbar-title) {
    transition: scale, 0.3s, color 0.3s;
    font-family: sans-serif;
    text-align: center;
    height: var(--navbar-height);
    padding: 0 calc(var(--navbar-height)/2);
    text-decoration: none;
    color: white;
    scale: 1;
    border-radius: 0.25em;
    background-color: var(--primary-color);
}
#navbar > a:not(a#navbar-title):hover{
    z-index: 1;
    scale: 1.05;
    box-shadow: 0px 0px 10px rgb(51, 51, 51);
    background-color: var(--primary-color-vibrant);
}

#navbar > .divider{
    height: calc(var(--navbar-height)/2);
    width: 1px;
    background-color: rgba(255, 255, 255, 0.75);
}



:root{
    --accent-color: rgb(221, 204, 54);
    --primary-color-vibrant: rgb(181, 111, 211);
    --primary-color-vibrant-raw: 181, 111, 211;
    --primary-color: rgb(186, 139, 211);
    --base-color:rgb(230, 230, 230);

    --navbar-font-size:clamp(0.6rem, 2.25vw, 1rem);
    --navbar-height: 3em;
    --navbar-top-border-height: 0.3em;
    --navbar-full-height: calc(var(--navbar-height) + var(--navbar-top-border-height));
    --viewport-minus-navbar: calc(100vh - var(--navbar-full-height));
}

