body{
    padding-bottom: 50vh;
}

#guide-header{
    padding-bottom: 2rem;
}
.guide-title{
    font-family: sans-serif;
    font-size: min(6vw,2.5rem);
    text-wrap: balance;
    padding-bottom: 0.1em;
    margin-bottom: 0;
    width: fit-content;
    text-align: center;
}
#title-break{
    display: none;
}

.guide-subtitle-container{
    font-size: min(5vw,2rem);
    justify-content: center;
    align-items: flex-start;
}
.guide-subtitle-fading-border{
    width: 10vw;
    border-top: 1px solid;
}
.fading-border-left{
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent)1;
}
.fading-border-right{
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent)1;
}

.guide-subtitle-text{
    font-weight: bold;
}
#guide-header:hover .guide-head-text{
    width: 3em;
}
.guide-head-text{
    border-top:1px solid rgba(0, 0, 0, 0.3);
    padding-top: 0.2em;
    width: 0;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    overflow: hidden;
    transition: width 1s;
    white-space: nowrap;
}

.guide-head-container{
    flex-grow: 1;
    text-align: center;   
}
#guide-head-image{
    padding: 0 5px;
    height: min(6vw,2rem);
    border-top:1px solid rgba(0, 0, 0, 0.3);
    padding-top: 0.2em;
}



.guide-contents{
    width: 70%;
    padding: 12px;
}
.guide-section{
    padding-bottom: 2rem;
}
.guide-section-divider-text{
    font-weight: bold;
    font-size: min(3.5vw,1.5rem);
    display: block;
    width: fit-content;
    padding-bottom: 0.25em;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.1)) 1;
    width: 100%;
}



.code-container{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom:1em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: min(2.5vw,0.85rem);
}
.code-snipet-file-name{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    font-weight: bold;
    font-family: monospace;
}
.code-snipet{
    overflow-x: scroll;
}
.code-snipet > pre {
    margin: 0;
}
.code-snipet > pre > code {
    border: none;
    padding: 0;
}
.code-comment{
    color: rgb(36, 129, 59);
}



.walking-gif-style{
    height: fit-content;
    width: fit-content;
}



@media only screen and (max-width: 800px) {
    .guide-contents{
        width:85%;
    }
}

@media only screen and (max-width: 1300px) {
    #title-break{
        display: unset;
    }
}
